.header {
    top: 0px;
    left: 0px;
    height: 59px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #0000000A;
    opacity: 1;
    background-color: #651fff;
}

.header_container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /*border: 1px solid #DBDBDB;*/
    height: 100%;
    display: flex;
    align-items: center;

}

.authed {
    justify-content: space-between;
    width: calc(100% - 520px);
    display: flex;
    justify-content: space-between;

}

.input_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    width: 80%;
    height: 50px;
}

.input_wrapper input {
    border: none;
    outline: none;
    padding-left: 5px;
    text-align: left;
    font: normal normal normal 13px/20px Montserrat;
    letter-spacing: 0px;
    color: #4D4F5C;
    opacity: 1;
    height: 100%;
    width: 100%;
}

.auth_p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    margin-left: auto;
}

.auth_p_s_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.auth_p_s_1 i {
    cursor: pointer;
}

.auth_p_s_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth_p_s_2 div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.acc_n {
     text-align: left;
    font: normal normal normal 13px/20px Montserrat;
    letter-spacing: 0px;
    color: #4D4F5C;
    opacity: 1;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    height: 100%;
}
.p_not{
    padding-right: 7.5px;
    border-right: 2px solid #9a9a9a94;
}